/* HIGH LEVEL */
.contents-container {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;  
  margin: 0;
  place-items: center;
  min-width: 320px;
  padding-left: 3rem;
  overflow-x: hidden;
  padding:0;
  color: #F5DEB3;
  text-align: left;
  justify-content: center;
  align-content: center;
  min-width: 600px;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  padding-bottom: 1rem;
}

.section-title {
  margin-bottom: 3rem;
}

main{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.width80pc-margin10pc {
  width: 80%;
  min-width: 700px;

  margin: 5%;
  padding: 5%;
  border: 1px solid transparent;
  transition: 1s;
  
}
.width80pc-margin10pc:hover {
  
  border: 1px solid white;
  transition: 1s;

  border-radius: 20px;
  
}
h1 {
  line-height: 0.9;
  padding: 0;
  margin-top: 0;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: rgb(104, 100, 100);
  color: #F5DEB3;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: 1s
}
button:hover {
  border-color: #ffffff;
  background-color: #404040;
  transition: 1s
}

/* Header */
.header-tagline {
  font-style: italic;
  color:#98896c
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  margin-bottom: 3rem;
  /* background-color: black; */
}

/* Form */
textarea {
  resize: vertical;
  border-radius: 15px;
  padding: 5px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.resizable-textarea {
  padding: 10px;
  font-size: 16px;
  width: 50vw;
  min-width: 30%;
  margin-left: 5rem;
}

header, .form-input, .list-container {
  overflow: hidden;
}

.form-input-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-input-pair:hover {
  color: white;
  transition: 1s;

}


/* settings */

.settings-container {
display: flex;
flex-direction: row;
/* text-align: right; */
justify-content: space-between;


}
.settings-block {
  display: flex;
  flex-direction: row;
  /* text-align: right; */
  justify-content: space-between;
  align-content: center;
  font-size: 12px;
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.2);
  transition: 1s;

  }

.settings-block:hover {
  background-color: rgb(255, 255, 255, 0.2);
  transition: 1s;
}

.settings-inputs {
  accent-color: #005050;
}
.settings-cog {
  width: 20px;
  padding: 0.75rem;
  
}
.setting-toggle-label:hover {
  cursor: pointer;
  color: white;
  transition: 1s;
}



  /* ----------------------------------------------- */

/* submit */
.submit {
  background-color: rgb(0, 0, 0.5);
  transition: 1s;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  height: 2rem;
}

.submit:hover {
  background-color: rgb(0, 0, 0.3);
  transition: 1s;
}
